# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# build
/out

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

#maven
target/

#JavaDoc
/JavaDoc

#protocol
protocol.log

luxoft-codegen-maven-plugin/src/main/resources/Factory/Entity/Dictonary/

#LuxoftSocialNetwork/src/main/java/ru/SilirdCo/Luxoft/SocialNetwork/core/impl/Attributes/Generated/
#LuxoftSocialNetwork/src/main/java/ru/SilirdCo/Luxoft/SocialNetwork/core/impl/Entities/Generated/
#LuxoftSocialNetwork/src/main/java/ru/SilirdCo/Luxoft/SocialNetwork/core/impl/DAO/DB/Generated/
#LuxoftSocialNetwork/src/main/java/ru/SilirdCo/Luxoft/SocialNetwork/core/impl/Util/
Generated/
